body{
    color:aqua;
    text-align: center;
    font-family: Arial;
}
.container {
    text-align: center;
    margin-top: 40;
    background-color: blueviolet;
    color: black;
}
.footer {
    position: relative;
    bottom: 0;
    background-color: gray;
    color:wheat;
}